{% extends "index.html" %}
{% block main %}

<div id="cms_news_grid">

{% for n in news %}
<div class="cms_news">
<h1>
    {% if n.contents|length > 0 %}
    <a href="{% url "newsDetail" pk=n.id %}">{{ n.title }}</a>
    {% else  %}
        {{ n.title }}
    {% endif %}
</h1>
<h4>{{ n.datetime_update|date:"Y-m-d H:m" }} </h4>

{% if not n.yt_id %}
    <div>
        {{ n.lead|safe }}
    </div>
{% else %}

    <div>
        <iframe width="490" height="285" src="https://www.youtube.com/embed/{{ n.yt_id }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
{% endif %}

</div>
{% endfor %}
<div class="clear"></div>

<div id="paginator">
    {% for p in page_numbers %}
        <a href="{% url 'newsList' page=p.page_start %}">{{ p.page_number }}</a>
    {% endfor %}
</div>

</div>



{% endblock %}