{% extends "index.html" %}
{% block main %}

<h2>NPC List</h2>
<a href="{% url 'NPC_CreateView' %}">Add NPC</a>
<div id="npcs">
  
  <div id="detailsMsg_container">
    <div id="detailsMsg"></div>
    <div id="detailsMsg_ok">OK</div>
  </div>


{% for n in npc %}
<div class="npc_inline">

<table border="0">
    <tr>
      <td class="portrait" rowspan="4"><img src="/static/page_images/{{ n.npc.portrait }}" class="npc_portrait"></td>
      <td class="name" colspan="12"><a href="{% url 'NPC_UpdateView' pk=n.npc.id  %}">{{ n.npc }}</a></td>
    </tr>
    <tr>
      <td class="species" colspan="12">
        {% if n.npc.species is None %}
          -
        {% else %}
          {{ n.npc.species }} 
        {% endif %}
      </td>
    </tr>
    <tr>
        <td class="head">M</td>
        <td class="head">WS</td>
        <td class="head">BS</td>
        <td class="head">S</td>
        <td class="head">T</td>
        <td class="head">I</td>
        <td class="head">Ag</td>
        <td class="head">Dex</td>
        <td class="head">Int</td>
        <td class="head">WP</td>
        <td class="head">Fel</td>
        <td class="head">W</td>
    </tr>
    <tr>
        <td>{{ n.npc.characteristics_m }} </td>
        <td>{{ n.npc.characteristics_ws }} </td>
        <td>{{ n.npc.characteristics_bs }} </td>
        <td>{{ n.npc.characteristics_s }} </td>
        <td>{{ n.npc.characteristics_t }} </td>
        <td>{{ n.npc.characteristics_i }} </td>
        <td>{{ n.npc.characteristics_ag }} </td>
        <td>{{ n.npc.characteristics_dex }} </td>
        <td>{{ n.npc.characteristics_int }} </td>
        <td>{{ n.npc.characteristics_wp }} </td>
        <td>{{ n.npc.characteristics_fel }} </td>
        <td>{{ n.npc.characteristics_w }} </td>
    </tr>
  </table>


{% if n.npc2skill %}  
<p><b>Skills:</b>{% for x in n.npc2skill %} 
    <span class="npc_skill" skill_id="{{ x.skill.id }}">{{ x.skill }}</span> [{{ x.value }}], 
   {% endfor %}
</p>
{% endif %}
{% if n.npc2talent %}
<p><b>Talents:</b>{% for x in n.npc2talent %} 
  <span class="npc_talent" talent_id="{{ x.talent.id }}">{{ x.talent }}</span> [{{ x.value }}],
    {% endfor %}
</p>
{% endif %}
{% if n.npc.weapons.count %}
<p><b>Weapons:</b>{% for x in n.npc.weapons.all %} 
    {{ x }},
    {% endfor %}
</p>
{% endif %}
{% if n.npc2trapping %}
<p><b>Trappings:</b>
  {% for x in n.npc2trapping %} 
  <span class="npc_trapping" trapping_id="{{ x.trapping.id }}">{{ x.trapping }}</span> [{{ x.amount }}]
    {% endfor %}
</p>
{% endif %}
{% if n.npc2creatureTraits %}
<p><b>Traits:</b>
  {% for x in n.npc2creatureTraits %} 
  <span class="npc_creatureTraits" creatureTraits_id="{{ x.creatureTraits.id }}">{{ x.creatureTraits }}</span> [{{ x.amount }}]
    {% endfor %}
</p>
{% endif %}
{% if n.npc2spells %}
<p><b>Spells:</b>
  {% for x in n.npc2spells %} 
  <span class="npc_spells" spell_id="{{ x.spell.id }}">{{ x.spell }}</span> [{{ x.amount }}]
    {% endfor %}
</p>
{% endif %}

</div>

{% endfor %}

<div class="npc_clean"></div>

</div>

{% endblock %}