* {
    margin : 0;
    padding : 0;
}

@font-face {
    font-family: AntykwaTorunska-Regular;
    src: url(/static/font/AntykwaTorunska-Regular.ttf);
}

.clear {
    clear: both;
}

.error {
    color: #FF0000;
}

.help-text {
    color: #ffa500;
}

.info {
    background-color : #993333;
    border : #660000 solid 1px;
    color : #FFFFFF;
    padding : 15px;
    margin : 10px 30px 30px 30px;
    text-align : center;
}

.vertical-divider {
    background-color: lightgray;
    border-left: 1px solid gray;
    display: inline;
    margin: 0px 5px;
}

.view-title {
    margin-bottom: 10px;
}

body {
    background-color : #FFFFFF;
    font-family: AntykwaTorunska-Regular;
    font-size : 12px;
    color : #000000;
    text-align : left;
    height : 100%;
}

a {
    color : #004363;
    text-decoration : none;
}

a:hover {
    color : #004363;
    text-decoration : underline;
}

a.button,
input[type="submit"] {
    background-color : #E6EEF4;
    padding : 0 0 0 0;
    margin : 5px 10px 5px 10px;
    padding : 2px 6px 2px 6px;
    border-top : 1px solid #C2C2C2;
    border-right : 1px solid #333333;
    border-bottom : 1px solid #333333;
    border-left : 1px solid #C2C2C2;
    text-decoration : none;
    white-space : nowrap;
    cursor : pointer;
}

a.button:hover {
    background-color : #E6EEF4;
    padding : 0 0 0 0;
    margin : 5px 10px 5px 10px;
    padding : 2px 6px 2px 6px;
    border-top : 1px solid #333333;
    border-right : 1px solid #C2C2C2;
    border-bottom : 1px solid #C2C2C2;
    border-left : 1px solid #333333;
    text-decoration : none;
    white-space : nowrap;
}

td.center  {
    text-align: center;
}

select,
input {
    border : #AAA solid 1px;
    background : #E6EEF4;
    font-size : 11px;
    color : #004363;
    width : 200px;
    text-align: center;
}

input[type="text"]#tournament_p,
input[type="text"]#big_p,
input[type="text"]#small_p {
    width : 50px;
    text-align : center;
}

select.small,
input.small {
    width : 40px;
}

textarea {
    border : #AAA solid 1px;
    background : #CCC;
    font-size : 11px;
    color : #004363;
    width : 700px;
}

ul.errorlist {
    padding : 0 0 0 15px;
    color : #FF0000;
}

div#cookieack div.wrap {
    width : 74.77778%;
    margin-left : 1.5%;
    margin-right : 1.5%;
    margin-left : 12.61111%;
    margin-right : 12.61111%;
}

div#cookieack div.wrap p {
    font-size : 1em;
    line-height : 3em;
}

div#cookieack div.accept {
    margin : 0 1ex;
    padding : 1ex;
    background : rgba(255, 255, 255, 0.1);
}

div#main_top_bar {
    height: 158px;
    margin-bottom: 15px;
    padding-left: 15px;
    background-color: #452304;
    border-top: 2px solid #35fbd6;
}

div#main_top_bar img {
    width: 342px;
    height: 158px;
    /* margin-top: 2px; */
    /* line-height: 40px; */
}

div#main_top_bar div.user {
    float : right;
    margin-right: 15px;
    color: white;
    line-height: 35px;
}

div#main {
    padding: 0 0 0 0;
    width: auto;
    overflow: hidden;
    position: relative;
}

div#main h3.main {
    font-size : 20px;
    border-bottom : 0px solid #666666;
    margin-bottom : 10px;
}

div#main div#blog {
    width : 80%;
}

div#main div#blog div.blog_content {
    margin-bottom: 25px;
}

div#main div#blog div.blog_content .news-link {
    color : #97D7F4;
}

div#main div#blog div.blog_content_info {
    margin-bottom: 5px;
}

div#main div#blog div.blog_content_info p {
    display: inline;
}

div#main div#blog div.blog_content .news-text {
    font-size: 13px;
}

div#main div.top {
    background-image: url("img/WFRP_-_Character_Sheet-1_head.png");
    background-color: #c4a314;
    border: 0px solid #35fbd6;
    width: 1693px;
    height: 259px;
}
div#main div.bottom {
    background-image: url("img/WFRP_-_Character_Sheet-1_bottom.png");
    background-color: #c4a314;
    border: 0px solid #35fbd6;
    width: 1693px;
    height: 118px;
    bottom: 0;
}

div#main div.create_character {
    background-image: url("img/create_character_background.jpeg");
    border-radius: 15px;
    border: 3px solid #9d5009;
    width: 300px;
    max-height: 600px;
    padding: 20px;
    margin-left: -220px;
    margin-top: 50px;
    position:fixed;
    z-index: 1000;
}

div#main div.create_character img.img_random {
    /* background-color: #c4a314; */
    height: 15px;
}

div#main div.create_character img.img_random:hover {
    cursor: pointer;
}

div#main div.create_character img#img_character_creaton_next {
    height: 32px;
    bottom: 0;
}
div#main div.create_character img#img_character_creaton_next:hover {
    cursor: pointer;
}

div#main div.create_character div.create_character_steps {
    display: none;
}

div#main div.create_character div.create_character_steps span#step_5_career_skills_error {
    color: #FF0000;
    display:none;
}

div#main div.create_character div.header h1 {
    text-align: center;
    border-bottom: 3px solid #9d5009;
    font-size: 110%;
}

div#main div.create_character div.bottom {
    background: none;
    border: 0px solid #35fbd6;
    text-align: center;
    width: 100%;
    height: 62px;
    bottom: 0;
}

div#main div.character_sheet {
    background-image: url("img/WFRP_-_Character_Sheet-1_middle.png");
    /* background-color: #c4a314; */
    /* border: 1px solid #FF0000; */
    width: 1693px;
}

div#main div.character_sheet input {
    background-color: rgba(21, 121, 112, 0.1);
    border: 1px solid #FF0000;
    height: 32px;
    /* position: absolute; */
}

div#main div.character_sheet select {
    background-color: rgba(21, 121, 112, 0.1);
    border: 1px solid #FF0000;
    height: 32px;
    width: 300px;
}

div#main div.character_sheet div.head {
    /* background-color: #c4a314; */
    width: 1455px;
    height: 180px;
    margin-left: 117px;
}

div#main div.character_sheet div.head table {
    width: 1420px;
    height: 170px;
    margin-left: 12px;
}
div#main div.character_sheet div.head table tr {
}
div#main div.character_sheet div.head table tr td {
    text-align: center;
}
div#main div.character_sheet div.head table tr td.title {
    font-size: 200%;
}
div#main div.character_sheet div.head table tr td.head {
    font-size: 103%;
    text-align: right;
}
div#main div.character_sheet div.head table tr td input {
    height: 32px;
    position: relative;
}

div#main div.character_sheet div.head table tr td input#character_sheet_name {
    width: 625px;
}

div#main div.character_sheet div.head table tr td select#species {
    width: 270px;
}

div#main div.character_sheet div.head table tr td  input#class {
    width: 270px;
}

div#main div.character_sheet div.head table tr td  input#career {
    width: 620px;
}

div#main div.character_sheet div.head table tr td  input#career_level {
    width: 620px;
}

div#main div.character_sheet div.head table tr td  input#career_path {
    width: 1005;
}

div#main div.character_sheet div.head table tr td  input#status {
    width: 265px;
}

div#main div.character_sheet div.head table tr td  input#age {
    width: 305px;
}

div#main div.character_sheet div.head table tr td  input#height {
    width: 255px;
}

div#main div.character_sheet div.head table tr td  input#hair {
    height: 32px;
    width: 300px;
}

div#main div.character_sheet div.head table tr td  input#eyes {
    height: 32px;
    width: 280px;
}

div#main div.character_sheet div.characteristics {
    /* background-color: #abc818; */
    width: 700px;
    min-height: 280px;
    margin-left: 117px;
    float: left;
}
div#main div.character_sheet div.characteristics table {
    width: 635px;
    margin-left: 10px;
}
div#main div.character_sheet div.characteristics table tr {
    min-height: 52px;
}
div#main div.character_sheet div.characteristics table tr td {
    min-height: 52px;
    min-width: 53px;
    text-align: center;
}
div#main div.character_sheet div.characteristics table tr td.title {
    font-size: 200%;
}
div#main div.character_sheet div.characteristics table tr td.head {
    font-size: 150%;
    text-align: center;
}

div#main div.character_sheet div.characteristics input {
    height: 52px;
    width: 53px;
    position: relative;
    text-align: center;
}

div#main div.character_sheet div.right {
    /* background-color: #469933; */
    width: 700px;
    margin-left: 840px;
}

div#main div.character_sheet div.right div.fate_resistance_exp {
    /* background-color: #d9c721; */
    width: 700px;
    position:relative
}

div#main div.character_sheet div.right div.fate_resistance_exp div.fate {
    /* background-color: #10d010; */
    width: 150px;
    float: left;
}
div#main div.character_sheet div.right div.fate_resistance_exp div.fate table {
    width: 140px;
}
div#main div.character_sheet div.right div.fate_resistance_exp div.fate table tr {
    min-height: 52px;
}
div#main div.character_sheet div.right div.fate_resistance_exp div.fate table tr td {
    min-height: 35px;
    min-width: 42px;
    text-align: center;
}
div#main div.character_sheet div.right div.fate_resistance_exp div.fate table tr td.title {
    font-size: 200%;
}
div#main div.character_sheet div.right div.fate_resistance_exp div.fate table tr td.head {
    font-size: 150%;
    text-align: left;
}
div#main div.character_sheet div.right div.fate_resistance_exp div.fate table tr td input {
    height: 53px;
    width: 43px;
    position: relative;
}

div#main div.character_sheet div.right div.fate_resistance_exp div.resilience {
    /* background-color: #9c23ba; */
    width: 320px;
    float: left;
}

div#main div.character_sheet div.right div.fate_resistance_exp div.resilience table {
    width: 140px;
    margin-left: 10px;
}
div#main div.character_sheet div.right div.fate_resistance_exp div.resilience table tr {
    min-height: 52px;
}
div#main div.character_sheet div.right div.fate_resistance_exp div.resilience table tr td {
    min-height: 35px;
    min-width: 42px;
    text-align: center;
}
div#main div.character_sheet div.right div.fate_resistance_exp div.resilience table tr td.title {
    font-size: 200%;
}
div#main div.character_sheet div.right div.fate_resistance_exp div.resilience table tr td.head {
    font-size: 120%;
    text-align: center;
}
div#main div.character_sheet div.right div.fate_resistance_exp div.resilience table tr td input {
    height: 53px;
    width: 43px;
    position: relative;
}

div#main div.character_sheet div.right div.fate_resistance_exp div.resilience table tr td input#resilience_resilience {
    height: 37px;
    width: 105px;
}
div#main div.character_sheet div.right div.fate_resistance_exp div.resilience table tr td input#resilience_resolve {
    height: 37px;
    width: 82px;
}
div#main div.character_sheet div.right div.fate_resistance_exp div.resilience table tr td input#resilience_motivation {
    height: 37px;
    width: 110px;
}

div#main div.character_sheet div.right div.fate_resistance_exp div.experience {
    /* background-color: #993333; */
    width: 230px;
    float: left;
}

div#main div.character_sheet div.right div.fate_resistance_exp div.experience table {
    width: 140px;
    margin-left: 12px;
}
div#main div.character_sheet div.right div.fate_resistance_exp div.experience table tr {
    min-height: 52px;
}
div#main div.character_sheet div.right div.fate_resistance_exp div.experience table tr td {
    min-height: 35px;
    min-width: 42px;
    text-align: center;
}
div#main div.character_sheet div.right div.fate_resistance_exp div.experience table tr td.title {
    font-size: 200%;
}
div#main div.character_sheet div.right div.fate_resistance_exp div.experience table tr td.head {
    font-size: 120%;
    text-align: center;
}
div#main div.character_sheet div.right div.fate_resistance_exp div.experience table tr td input {
    height: 35px;
    width: 43px;
    position: relative;
}
div#main div.character_sheet div.right div.fate_resistance_exp div.experience table tr td input#experience_current {
    height: 37px;
    width: 80px;
    text-align: center;
}
div#main div.character_sheet div.right div.fate_resistance_exp div.experience table tr td input#experience_spent {
    height: 37px;
    width: 70px;
}
div#main div.character_sheet div.right div.fate_resistance_exp div.experience table tr td input#experience_total {
    height: 37px;
    width: 60px;
}
div#main div.character_sheet div.right div.movement {
    /* background-color: #1310b3; */
    width: 700px;
}
div#main div.character_sheet div.right div.movement table {
    width: 700px;
    margin-left: 12px;
}
div#main div.character_sheet div.right div.movement table tr {
    min-height: 52px;
}
div#main div.character_sheet div.right div.movement table tr td {
    min-height: 35px;
    min-width: 42px;
    text-align: center;
}
div#main div.character_sheet div.right div.movement table tr td.title {
    font-size: 200%;
}
div#main div.character_sheet div.right div.movement table tr td.head {
    font-size: 150%;
    text-align: left;
    padding-left: 10px;
}
div#main div.character_sheet div.right div.movement table tr td input {
    position: relative;
}

div#main div.character_sheet div.right div.movement table tr td input#movement_movement {
    height: 37px;
    width: 90px;

}
div#main div.character_sheet div.right div.movement table tr td input#movement_walk {
    height: 37px;
    width: 90px;
}
div#main div.character_sheet div.right div.movement table tr td input#movement_run {
    height: 37px;
    width: 90px;
}

div#main div.character_sheet div.basic_skills {
    /* background-color: #993333; */
    width: 700px;
    min-height: 103px;
    margin-left: 118px;
    float: left;
}
div#main div.character_sheet div.basic_skills table {

    width: 650px;
    margin-left: 20px;
}
div#main div.character_sheet div.basic_skills table tr {
}
div#main div.character_sheet div.basic_skills table tr th  {
}
div#main div.character_sheet div.basic_skills table tr th.block_name  {
    font-size: 36px;
}
div#main div.character_sheet div.basic_skills table tr.block_header  {
    font-size: 20px;
}
div#main div.character_sheet div.basic_skills table tr td {
    padding-left: 3px;
    padding-right: 3px;
    margin: 0px;
    font-size: 18px;
    text-align: center;
}
div#main div.character_sheet div.basic_skills table tr td.left  {
    text-align: left;
    padding-left: 10px;
}
div#main div.character_sheet div.basic_skills table tr td.characteristics  {
    padding: 0px;
    margin: 0px;
    width: 50px;
    height: 32px;
}
div#main div.character_sheet div.basic_skills table tr td.edit {
    height: 32px;
    width: 32px;
}
div#main div.character_sheet div.basic_skills table tr td.edit input  {
    padding: 0px;
    margin: 0px;
    height: 30px;
    width: 30px;
    position: relative;
}

div#main div.character_sheet div.talents_ambitions_party {
    margin-left: 840px;
}

div#main div.character_sheet div.talents {
    /* background-color: #993333; */
    width: 700px;
}
div#main div.character_sheet div.talents table {
    width: 450px;
    margin-left: 20px;
}
div#main div.character_sheet div.talents table tr {

}
div#main div.character_sheet div.talents table tr th  {

}
div#main div.character_sheet div.talents table tr th.block_name  {
    font-size: 36px;
}
div#main div.character_sheet div.talents table tr.block_header  {
    font-size: 20px;
}

div#main div.character_sheet div.talents table tr td.edit {
    height: 32px;
    width: 32px;
    text-align: center;
}
div#main div.character_sheet div.talents table tr td.edit input  {
    padding: 0px;
    margin: 0px;
    height: 30px;
    width: 30px;
    position: relative;
}

div#main div.character_sheet div.ambitiosn {
    border: 0px solid #128fd3;
    width: 700px;
    margin-bottom: 10px;
}
div#main div.character_sheet div.ambitiosn table {
    width: 700px;
}
div#main div.character_sheet div.ambitiosn table tr {
    min-height: 52px;
}
div#main div.character_sheet div.ambitiosn table tr td {
    min-height: 35px;
    min-width: 42px;
    text-align: center;
}
div#main div.character_sheet div.ambitiosn table tr td.title {
    font-size: 200%;
}
div#main div.character_sheet div.ambitiosn table tr td.head {
    font-size: 150%;
    text-align: left;
    padding-left: 10px;
}

div#main div.character_sheet div.party {
    border: 0px solid #d312a9;
    width: 700px;
    margin-bottom: 10px;
}

div#main div.character_sheet div.party table {
    width: 700px;
}
div#main div.character_sheet div.party table tr {
    min-height: 52px;
}
div#main div.character_sheet div.party table tr td {
    min-height: 35px;
    min-width: 42px;
    text-align: center;
}
div#main div.character_sheet div.party table tr td.title {
    font-size: 200%;
}
div#main div.character_sheet div.party table tr td.head {
    font-size: 150%;
    text-align: left;
    padding-left: 10px;
}

div#main div.character_sheet div.sheer2_left {
    /* background-color: #25c840; */
    width: 940px;

    float: left;
    margin-left: 135px;
}

div#main div.character_sheet div.sheer2_left table.armour {
    /* background-color: #ddd91f; */
    width: 940px;
}

div#main div.character_sheet div.sheer2_left table.armour tr.block_name {
    font-size: 36px;
    text-align: center;
}
div#main div.character_sheet div.sheer2_left table.armour tr.block_header {
    font-size: 20px;
    text-align: center;
}

div#main div.character_sheet div.sheer2_left div.sheer2_left_bottom {
    /* background-color: #128fd3; */
    width: 940px;
    height: 300px;
}

div#main div.character_sheet div.sheer2_left div.sheer2_left_bottom div.trappings {
    /* background-color: #dbb50b; */
    width: 50%;
    float: left;
}

div#main div.character_sheet div.sheer2_left div.sheer2_left_bottom div.trappings table#trappings_table {
    /* background-color: #35fbd6; */
    width: 95%;
    margin-left: 10px;
    margin-top: 10px;
}
div#main div.character_sheet div.sheer2_left div.sheer2_left_bottom div.trappings table#trappings_table tr th.block_name  {
    font-size: 36px;
}
div#main div.character_sheet div.sheer2_left div.sheer2_left_bottom div.trappings table#trappings_table tr.block_header  {
    font-size: 20px;
}

div#main div.character_sheet div.sheer2_left div.sheer2_left_bottom div.trappings table#trappings_table tr td.edit input  {
    position: relative;
    width: 36px;
}

div#main div.character_sheet div.sheer2_left div.sheer2_left_bottom div.sheer2_left_bottom_right {
    /* background-color: #666666; */
    width: 50%;
    float: left;
}
div#main div.character_sheet div.sheer2_left div.sheer2_left_bottom div.sheer2_left_bottom_right div.psychology {
    /* background-color: #660000; */
    min-height: 30%;
    margin-top: 10px;
    text-align: center;
}
div#main div.character_sheet div.sheer2_left div.sheer2_left_bottom div.sheer2_left_bottom_right div.coruption_mutation {
    /* background-color: #129bb3; */
    min-height: 30%;
    margin-top: 10px;
    text-align: center;
}

div#main div.character_sheet div.sheer2_left div.sheer2_left_bottom div.sheer2_left_bottom_right_bottom {
    /* background-color: #35fbd6; */
}

div#main div.character_sheet div.sheer2_left div.sheer2_left_bottom div.sheer2_left_bottom_right_bottom div.sheer2_left_bottom_right_bottom_left {
    /* background-color: #660000; */
    width: 45%;
    float: left;
}
div#main div.character_sheet div.sheer2_left div.sheer2_left_bottom div.sheer2_left_bottom_right_bottom div.sheer2_left_bottom_right_bottom_left  table {
    width: 95%;

}

div#main div.character_sheet div.sheer2_left div.sheer2_left_bottom div.sheer2_left_bottom_right_bottom div.sheer2_left_bottom_right_bottom_left  table  td.title {
    font-size: 150%;
    text-align: center;
}

div#main div.character_sheet div.sheer2_left div.sheer2_left_bottom div.sheer2_left_bottom_right_bottom div.sheer2_left_bottom_right_bottom_left  table  td.header {
    font-weight: bold;
    width: 15%;
}

div#main div.character_sheet div.sheer2_left div.sheer2_left_bottom div.sheer2_left_bottom_right_bottom div.sheer2_left_bottom_right_bottom_right {
    /* background-color: #452304; */
    width: 45%;
    float: left;
}

div#main div.character_sheet div.sheer2_left div.sheer2_left_bottom div.sheer2_left_bottom_right_bottom div.sheer2_left_bottom_right_bottom_right  table {
    width: 100%;
}

div#main div.character_sheet div.sheer2_left div.sheer2_left_bottom div.sheer2_left_bottom_right_bottom div.sheer2_left_bottom_right_bottom_right  table  td.title {
    font-size: 150%;
    text-align: center;
}

div#main div.character_sheet div.sheer2_left div.sheer2_left_bottom div.sheer2_left_bottom_right_bottom div.sheer2_left_bottom_right_bottom_right  table  td.header {
    font-weight: bold;
    width: 15%;
}

div#main div.character_sheet div.sheer2_right {
    /* background-color: #d02e2e; */
    width: 480px;
    float: left;
}

div#main div.character_sheet div.sheer2_right div.sheet2_ap {
    background-color: #d02e2e;
    background-image: url("img/WFRP_-_Character_Sheet-2_ap.png");
    width: 472px;
    height: 727px;
    float: left;
}

div#main div.character_sheet div.sheer2_right div.sheet2_ap input {

    width: 50px;
    height: 50px;
}

div#main div.character_sheet div.sheer2_right div.sheet2_ap input#head {
    margin-left: 46px;
    margin-top: 120px;
    position: absolute;
}
div#main div.character_sheet div.sheer2_right div.sheet2_ap input#left_arm {
    margin-left: 355px;
    margin-top: 190px;
    position: absolute;
}
div#main div.character_sheet div.sheer2_right div.sheet2_ap input#right_arm {
    margin-left: 45px;
    margin-top: 280px;
    position: absolute;
}
div#main div.character_sheet div.sheer2_right div.sheet2_ap input#body {
    margin-left: 358px;
    margin-top: 358px;
    position: absolute;
}
div#main div.character_sheet div.sheer2_right div.sheet2_ap input#left_leg {
    margin-left: 358px;
    margin-top: 552px;
    position: absolute;
}
div#main div.character_sheet div.sheer2_right div.sheet2_ap input#right_leg {
    margin-left: 45px;
    margin-top: 455px;
    position: absolute;
}
div#main div.character_sheet div.sheer2_right div.sheet2_ap input#shield {
    margin-left: 45px;
    margin-top: 590px;
    position: absolute;
}

div#main div.character_sheet div.sheer2_right div.sheet2_wounds {

}
div#main div.character_sheet div.sheer2_right div.sheet2_wounds table {
    width: 480px;
}

div#main div.character_sheet div.sheer2_right div.sheet2_wounds td.title {
    font-size: 200%;
    text-align: center;
}
div#main div.character_sheet div.sheer2_right div.sheet2_wounds td.header {
    font-weight: bold;
    text-align: center;
    width: 80px;
}

div#main div.character_sheet table.weapons {
    width: 1420px;
    margin-left: 135px;
    padding-top: 20px;
}

div#main div.character_sheet table.weapons tr.title {
    font-size: 200%;
    text-align: center;
}
div#main div.character_sheet table.weapons tr.header {
    font-size: 150%;
    text-align: center;
    padding-left: 10px;
}

div#main div.character_sheet table.spells {
    width: 1420px;
    margin-left: 135px;
    padding-top: 20px;
}

div#main div.character_sheet table.spells tr.title {
    font-size: 200%;
    text-align: center;
}
div#main div.character_sheet table.spells tr.header {
    font-size: 150%;
    text-align: center;
    padding-left: 10px;
}

    div#menu_button {
        display : none;
    }

    div#menu {
        background-color : #E6EEF4;
        padding : 0;
        margin : 0 15px 0 15px;
        width : 200px;
        float : left;
    }

    div#menu ol {
        margin : 0 0 0 0;
        padding : 0;
        list-style-type : none;
    }

    div#menu ol li {
        margin : 0 0 0 0;
    }

    div#menu ol li.menuChild {
        background-color : #E1EDF7;
    }

    div#menu ol li.menuChild a {
        padding: 10px 0 10px 20px;
    }

    div#menu ol li.menuChild a:hover {
        padding : 10px 0 10px 15px;
    }

    div#menu ol li.menuChild div {
        padding: 10px 0 10px 20px;
    }

    div#menu ol li a {
        display : block;
        margin : 0 0 0 0;
        padding : 10px 0 10px 10px;
        text-decoration : none;
        white-space : nowrap;
    }

    div#menu ol li a:hover {
        background-image : url("img/link_hover.png");
        background-repeat : no-repeat;
        margin : 0 0 0 0;
        padding : 10px 0 10px 10px;
        text-decoration : none;
        white-space : nowrap;
    }

    div#main {
        padding : 0 0 0 0;
        width: auto;
        overflow : hidden;
    }
