{% load static %}
<head>
<title>Warhammer Fantasy Roleplay - Virtual GM</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css" href="{% static "main.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "table.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "spinner.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "django_tables2/bootstrap.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "django_tables2/themes/paleblue/css/screen.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "tinymce/skins/ui/oxide/skin.min.css" %}">

<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script src="{% static "tinymce/tinymce.min.js" %}"></script>

{% if "addCharacter" in  request.path %}
<script src="{% static "create_character.js" %}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        main();
    });
</script>
{% endif %}
{% if "viewCharacter" in  request.path %}
<script src="{% static "view_character.js" %}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        main();
    });
</script>
<script type="text/javascript">
    tinyMCE.init({
        plugins: 'link',
        selector: 'textarea#player_notes_textarea',
        mode: "textareas",
        theme: "silver",
        toolbar: 'bold italic underline | h1 h2 h3 h4 h5 h6 | link | alignleft aligncenter alignright alignjustify | outdent indent | forecolor backcolor | removeformat',
        menubar:false,
        statusbar: false,
    });
</script>
{% endif %}
{% if "detailsCampaign" in  request.path %}
    <script src="{% static "details_campaign.js" %}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            main();
        });
    </script>

    <script type="text/javascript">
        tinyMCE.init({
            plugins: 'link',
            selector: 'textarea#campaign_notes_textarea',
            mode: "textareas",
            theme: "silver",
            toolbar: 'bold italic underline | h1 h2 h3 h4 h5 h6 | link | alignleft aligncenter alignright alignjustify | outdent indent | forecolor backcolor | removeformat',
            menubar:false,
            statusbar: false,
        });
    </script>
{% endif %}

<script src="/admin/jsi18n/"></script>
<script src="{% static "admin/js/vendor/jquery/jquery.js" %}"></script>
<script src="{% static "admin/js/jquery.init.js" %}"></script>
<script src="{% static "admin/js/core.js" %}"></script>
<script src="{% static "admin/js/admin/RelatedObjectLookups.js" %}"></script>
<script src="{% static "admin/js/actions.js" %}"></script>
<script src="{% static "admin/js/urlify.js" %}"></script>
<script src="{% static "admin/js/prepopulate.js" %}"></script>
<script src="{% static "admin/js/vendor/xregexp/xregexp.js" %}"></script>

<script type="text/javascript">

    function getCookie(cname)
    {
        var name = cname + "=";
        var ca = document.cookie.split(';');
        for(var i=0; i<ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0)==' ') c = c.substring(1);
            if (c.indexOf(name) == 0) return c.substring(name.length, c.length);
        }
        return "";
    }

    function hideCookie()
        {
            document.cookie="cookie_allow=true; expires=365; path=/";
            document.getElementById("cookieack").style.display = "none";
        };
    $(document).ready(
    function()
        {
            var cookie_allow = getCookie("cookie_allow");
            if (cookie_allow=="true")
            {
                document.getElementById("cookieack").style.display = "none";
            }
        }
    );

    </script>

</head>