{% load static %}
<head>
<title>Warhammer Fantasy Roleplay - Virtual GM</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="{% static "main.css" %}" />
<link rel="stylesheet" href="{% static "table.css" %}" />
<link rel="stylesheet" href="{% static "spinner.css" %}" />
<link rel="stylesheet" href="{% static "django_tables2/bootstrap.css" %}" />
<link rel="stylesheet" href="{% static "django_tables2/themes/paleblue/css/screen.css" %}" />

<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
<script src="{% static "character.js" %}"></script>

<script type="text/javascript">
    $(document).ready(function() {
        main();
    });


    function getCookie(cname)
    {
        var name = cname + "=";
        var ca = document.cookie.split(';');
        for(var i=0; i<ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0)==' ') c = c.substring(1);
            if (c.indexOf(name) == 0) return c.substring(name.length, c.length);
        }
        return "";
    }

    function hideCookie()
        {
            document.cookie="cookie_allow=true; expires=365; path=/";
            document.getElementById("cookieack").style.display = "none";
        };
    $(document).ready(
    function()
        {
            var cookie_allow = getCookie("cookie_allow");
            if (cookie_allow=="true")
            {
                document.getElementById("cookieack").style.display = "none";
            }
        }
    );

    </script>

</head>