{% load player %}
{% load static %}
<!DOCTYPE HTML>
<html>
{% include "head.html" %}
<body>
{% comment %} <div id="cookieack">
    <div class="wrap">
        <p>
            This site uses cookies. By continuing to browse the site you are agreeing to our use of cookies.
            <a class="button" href="#" onclick="hideCookie()">OK</a>
        </p>
    </div>
</div> {% endcomment %}
<div id="main_body">
    <div id="main_top_bar">
        <img src="{% static "/img/logo.png" %}">
        <div class="user">{% loggedUser user %} </div>
    </div>
    {% include "menu.html" %}

    <div id="main">
        {% block main %}{% endblock %}
    </div>

    <div id="main_bottom_bar">
        Warhammer Fantasy Roleplay 4th Edition:
        Published by <a href="https://cubicle7games.com/" target="_blank">Cubicle 7 Entertainment Ltd</a>,
        Suite D3, Unit 4, Gemini House, Hargreaves Road, Groundwell Industrial Estate,
        Swindon, SN25 5AZ, UK
    </div>
</div>
</body>
</html>