{% extends "index.html" %}
{% load static %}
{% block main %}


{% comment %} <form action="/wfrpg_gm/createCampaign" method="POST">
    {% with submit_value="Register" %}
    {% include "form.html" %}
    {% endwith %}
</form> {% endcomment %}

<input type="text" id="characer_id" name="characer_id" value="{{ characker_id }}">

<div class="create_character">
    <div class="header">
        <h1>Species</h1>
    </div>
    <div id="step_1_species" class="create_character_steps">
        Your Character will be a Human, Dwarf, Halfling, High Elf, or Wood Elf. Alternatively, you can roll <img src="{% static "/img/dice_icon.png" %}" id="img_random_species" class="img_random" />, consult the Random Species Table, and gain +20 XP if you accept the result.
    </div>
    <div id="step_2_class" class="create_character_steps">
        You can simply choose your Class and Career from the options below, write them down on your Character Sheet and move on to step 3. Alternatively, if you are unsure which to choose, or just want to randomly select for bonus XP: <br>
        1. Roll 1d100 on the Random Class and Career Table. If you don’t like the result, move to step 2. If you keep the result, gain +50 XP. <br>
        2. Roll twice more on the table, bringing your total to 3 choices. If one of the three now suits you, select one and gain +25 XP. <br>
        3. Choose your Class and Career, or keep rerolling on the table until you get something you like. There is no XP bonus for this. <br>
        <img src="{% static "/img/dice_icon.png" %}" id="img_random_class" class="img_random" />
    </div>
    <div id="step_3_characteristics" class="create_character_steps">
        <b>Step 1</b> +50 XP. </br>
        <b>Step 2</b> +25 XP. </br>
        <b>Step 3</b> +0 XP. </br>
        <p>Avalible attribute points: <span id="avalible_attribute_points">0</span></p>
        <p>Avalible extra points: <span id="avalible_extra_points">0</span></p>
        <img src="{% static "/img/dice_icon.png" %}" id="img_random_characteristics" class="img_random" />
    </div>
        <div class="bottom"><img src="{% static "/img/arrow_right.png" %} " id="img_character_creaton_next"></div>
</div>

<div class="top"> </div>
<div class="character_sheet">

    <div class="head">
        <table border="0">
            <tr>
                <td class="head">
                    Name
                </td>
                <td colspan="3">
                    <input type="text" id="character_sheet_name" name="character_sheet_name">
                </td>
                <td class="head">
                    Species
                </td>
                <td>
                    <select name="species" id="species" value="1">
                        {% for specie in species %}
                        <option value="{{ specie.id }}">{{ specie.name }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td class="head">
                    Class
                </td>
                <td>
                    <input type="text" id="class" name="fname">
                </td>
            </tr>
            <tr>
                <td class="head">
                    Carrer
                </td>
                <td colspan="3">
                    <input type="text" id="carrer" name="fname">
                </td>
                <td class="head">
                    Carrer Level
                </td>
                <td colspan="3">
                    <input type="text" id="carrer_level" name="fname">
                </td>
            </tr>
            <tr>
                <td class="head">
                    Carrer Path
                </td>
                <td colspan="5">
                    <input type="text" id="carrer_path" name="fname">
                </td>
                <td class="head">
                    Status
                </td>
                <td>
                    <input type="text" id="status" name="fname">
                </td>
            </tr>
            <tr>
                <td class="head">
                    Age
                </td>
                <td>
                    <input type="text" id="age" name="fname">
                </td>
                <td class="head">
                    Height
                </td>
                <td>
                    <input type="text" id="height" name="fname">
                </td>
                <td class="head">
                    Hair
                </td>
                <td>
                    <input type="text" id="hair" name="fname">
                </td>
                <td class="head">
                    Eyes
                </td>
                <td>
                    <input type="text" id="eyes" name="fname">
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="character_sheet">
    <div class="characteristics">
        <table border="0">
            <tr>
                <td colspan="11" class="title">
                    CHARACTERISTICS
                </td>
            </tr>
            <tr>
                <td class="head">&nbsp;</td>
                <td class="head">WS</td>
                <td class="head">BA</td>
                <td class="head">S</td>
                <td class="head">T</td>
                <td class="head">I</td>
                <td class="head">Ag</td>
                <td class="head">Dex</td>
                <td class="head">Int</td>
                <td class="head">WP</td>
                <td class="head">Fel</td>
            </tr>
            <tr class="quantity">
                <td class="head">Inital</td>
                <td><input type="text" id="characteristics_ws_initial"  name="fname" min="4" max="18" step="1" value="0"></td>
                <td><input type="text" id="characteristics_bs_initial"  name="fname" min="4" max="18" step="1" value="0"></td>
                <td><input type="text" id="characteristics_s_initial"   name="fname" min="4" max="18" step="1" value="0"></td>
                <td><input type="text" id="characteristics_t_initial"   name="fname" min="4" max="18" step="1" value="0"></td>
                <td><input type="text" id="characteristics_i_initial"   name="fname" min="4" max="18" step="1" value="0"></td>
                <td><input type="text" id="characteristics_ag_initial"  name="fname" min="4" max="18" step="1" value="0"></td>
                <td><input type="text" id="characteristics_dex_initial" name="fname" min="4" max="18" step="1" value="0"></td>
                <td><input type="text" id="characteristics_int_initial" name="fname" min="4" max="18" step="1" value="0"></td>
                <td><input type="text" id="characteristics_wp_initial"  name="fname" min="4" max="18" step="1" value="0"></td>
                <td><input type="text" id="characteristics_fel_initial" name="fname" min="4" max="18" step="1" value="0"></td>
            </tr>
            <tr class="quantity">
                <td class="head">Advaces</td>
                <td><input type="text" id="characteristics_ws_advances" name="fname"></td>
                <td><input type="text" id="characteristics_bs_advances" name="fname"></td>
                <td><input type="text" id="characteristics_s_advances" name="fname"></td>
                <td><input type="text" id="characteristics_t_advances" name="fname"></td>
                <td><input type="text" id="characteristics_i_advances" name="fname"></td>
                <td><input type="text" id="characteristics_ag_advances" name="fname"></td>
                <td><input type="text" id="characteristics_dex_advances" name="fname"></td>
                <td><input type="text" id="characteristics_int_advances" name="fname"></td>
                <td><input type="text" id="characteristics_wp_advances" name="fname"></td>
                <td><input type="text" id="characteristics_fel_advances" name="fname"></td>
            </tr>
            <tr>
                <td class="head">Current</td>
                <td><input type="text" id="characteristics_ws_current" name="fname"></td>
                <td><input type="text" id="characteristics_bs_current" name="fname"></td>
                <td><input type="text" id="characteristics_s_current" name="fname"></td>
                <td><input type="text" id="characteristics_t_current" name="fname"></td>
                <td><input type="text" id="characteristics_i_current" name="fname"></td>
                <td><input type="text" id="characteristics_ag_current" name="fname"></td>
                <td><input type="text" id="characteristics_dex_current" name="fname"></td>
                <td><input type="text" id="characteristics_int_current" name="fname"></td>
                <td><input type="text" id="characteristics_wp_current" name="fname"></td>
                <td><input type="text" id="characteristics_fel_current" name="fname"></td>
            </tr>
        </table>
    </div>

    <div class="right">
        <div class="fate_resistance_exp">
            <div class="fate">
                <table border="0">
                    <tr>
                        <td colspan="2" class="title">
                            FATE
                        </td>
                    </tr>
                    <tr class="quantity_fate">
                        <td class="head">Fate</td>
                        <td><input type="text" id="fate_fate" name="fname" min="2" max="5" step="1" value="0"></td>
                    </tr>
                    <tr class="quantity_fate">
                        <td class="head">Fortune</td>
                        <td><input type="text" id="fate_fortune" name="fname" min="2" max="5" step="1" value="0"></td>
                    </tr>
                </table>
            </div>
            <div class="resilience">
                <table>
                    <tr>
                        <td colspan="3" class="title">
                            RESILIENCE
                        </td>
                    </tr>
                    <tr>
                        <td class="head">
                            Resilience
                        </td>
                        <td class="head">
                            Resolve
                        </td>
                        <td class="head">
                            Motivation
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" id="resilience_resilience" name="fname">
                        </td>
                        <td>
                            <input type="text" id="resilience_resolve" name="fname">
                        </td>
                        <td>
                            <input type="text" id="resilience_motivation" name="fname">
                        </td>
                    </tr>
                </table>
            </div>
            <div class="experience">
                <table>
                    <tr>
                        <td colspan="3" class="title">
                            EXPERIENCE
                        </td>
                    </tr>
                    <tr>
                        <td class="head">
                            Current
                        </td>
                        <td class="head">
                            Spent
                        </td>
                        <td class="head">
                            Total
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" id="experience_current" name="fname">
                        </td>
                        <td>
                            <input type="text" id="experience_spent" name="fname">
                        </td>
                        <td>
                            <input type="text" id="experience_total" name="fname">
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="movement">
            <table border="0">
                <tr>
                    <td colspan="6" class="title">
                        MOVEMENT
                    </td>
                </tr>
                <tr>
                    <td class="head">
                        Movement
                    </td>
                    <td>
                        <input type="text" id="movement_movement" name="fname">
                    </td>
                    <td class="head">
                        Walk
                    </td>
                    <td>
                        <input type="text" id="movement_walk" name="fname">
                    </td>
                    <td class="head">
                        Run
                    </td>
                    <td>
                        <input type="text" id="movement_run" name="fname">
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="character_sheet">
    <div class="basic_skills">
        <table>
            <tr>
                <th colspan="5" class="block_name">
                    BASIC SKILL
                </th>
            </tr>
            <tr class="block_header">
                <th>
                    Name
                </th>
                <th colspan=2>
                    Characteristic
                </th>
                <th>
                    Adv
                </th>
                <th>
                    Skill
                </th>
            </tr>
        {% for basic_skill in basic_skills %}
            <tr>
                <td class="left">
                {{ basic_skill.name }}
                </td>
                <td class="characteristics">
                {{ basic_skill.characteristics }}
                </td>
                <td class="edit">
                    <input type="text" id="basic_skills_characteristics_{{ basic_skill.id }}" name="fname">
                </td>
                <td class="edit">
                    <input type="text" id="basic_skills_adv__{{ basic_skill.id }}" name="fname">
                </td>
                <td>
                    {{ basic_skill.adv }}
                </td>
            </tr>
        {% endfor %}
        </table>
    </div>

    <div class="talents_ambitions_party">
        <div class="talents">
            <table>
                <tr>
                    <th colspan="3" class="block_name">
                        TALENTS
                    </th>
                </tr>
                <tr class="block_header">
                    <th>
                        Talent Name
                    </th>
                    <th>
                        Times Taken
                    </th>
                    <th>
                        Description
                    </th>
                </tr>
                <tr class="block_header">
                    <th>
                        Talent Name
                    </th>
                    <th>
                        Times Taken
                    </th>
                    <th>
                        Description
                    </th>
                </tr>
                <tr class="block_header">
                    <th>
                        Talent Name
                    </th>
                    <th>
                        Times Taken
                    </th>
                    <th>
                        Description
                    </th>
                </tr>
                <tr class="block_header">
                    <th>
                        Talent Name
                    </th>
                    <th>
                        Times Taken
                    </th>
                    <th>
                        Description
                    </th>
                </tr>
            </table>
        </div>
        <div class="ambitiosn">
            <table border="0">
                <tr>
                    <td class="title" colspan="2">
                        AMBITIOSN
                    </td>
                </tr>
                <tr>
                    <td class="head">
                        Short-term
                    </td>
                    <td>

                    </td>
                </tr>
                <tr>
                    <td  class="head">
                        Long-term
                    </td>
                    <td>

                    </td>
                </tr>
            </table>
        </div>
        <div class="party">
            <table border="0">
                <tr>
                    <td class="title" colspan="2">
                        PARTY
                    </td>
                </tr>
                <tr>
                    <td class="head">
                        Party Name
                    </td>
                    <td>

                    </td>
                </tr>
                <tr>
                    <td class="head">
                        Short-term
                    </td>
                    <td>

                    </td>
                </tr>
                <tr>
                    <td class="head">
                        Long-term
                    </td>
                    <td>

                    </td>
                </tr>
                <tr>
                    <td class="head">
                        Members
                    </td>
                    <td>

                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="clear"></div>
</div>
<div class="character_sheet">
    <div class="sheer2_left">
        <table class="armour">
            <tr class="title">
                <td colspan="5">
                    ARMOUR
                </td>
            </tr>
            <tr class="header">
                <td>
                    Name
                </td>
                <td>
                    Location
                </td>
                <td>
                    Enc
                </td>
                <td>
                    AP
                </td>
                <td>
                    Qualities
                </td>
            </tr>
            <tr>
                <td>
                    Name
                </td>
                <td>
                    Location
                </td>
                <td>
                    Enc
                </td>
                <td>
                    AP
                </td>
                <td>
                    Qualities
                </td>
            </tr>
            <tr>
                <td>
                    Name
                </td>
                <td>
                    Location
                </td>
                <td>
                    Enc
                </td>
                <td>
                    AP
                </td>
                <td>
                    Qualities
                </td>
            </tr>            <tr>
                <td>
                    Name
                </td>
                <td>
                    Location
                </td>
                <td>
                    Enc
                </td>
                <td>
                    AP
                </td>
                <td>
                    Qualities
                </td>
            </tr>
            <tr>
                <td>
                    Name
                </td>
                <td>
                    Location
                </td>
                <td>
                    Enc
                </td>
                <td>
                    AP
                </td>
                <td>
                    Qualities
                </td>
            </tr>            <tr>
                <td>
                    Name
                </td>
                <td>
                    Location
                </td>
                <td>
                    Enc
                </td>
                <td>
                    AP
                </td>
                <td>
                    Qualities
                </td>
            </tr>
            <tr>
                <td>
                    Name
                </td>
                <td>
                    Location
                </td>
                <td>
                    Enc
                </td>
                <td>
                    AP
                </td>
                <td>
                    Qualities
                </td>
            </tr>            <tr>
                <td>
                    Name
                </td>
                <td>
                    Location
                </td>
                <td>
                    Enc
                </td>
                <td>
                    AP
                </td>
                <td>
                    Qualities
                </td>
            </tr>
            <tr>
                <td>
                    Name
                </td>
                <td>
                    Location
                </td>
                <td>
                    Enc
                </td>
                <td>
                    AP
                </td>
                <td>
                    Qualities
                </td>
            </tr>
        </table>
        <div class="sheer2_left_bottom">
            <div class="trappings">
                <table>
                    <tr class="title">
                        <td colspan="2">
                            TRAPPINGS
                        </td>
                    </tr>
                    <tr class="head">
                        <td >
                            Name
                        </td>
                        <td >
                            Enc
                        </td>
                    </tr>
                </table>
            </div>
            <div class="sheer2_left_bottom_right">
                <div class="psychology">
                    <h2>PSYCHOLOGY</h2>
                </div>
                <div class="coruption_mutation">
                    <h2>CORUPTION & MUTATION</h2>
                </div>
                <div class="sheer2_left_bottom_right_bottom">
                    <div class="sheer2_left_bottom_right_bottom_left">
                        <table border="0">
                            <tr>
                                <td  class="title" colspan="2">
                                    WEALTH
                                </td>
                            </tr>
                            <tr>
                                <td  class="header">
                                    D
                                </td>
                                <td>

                                </td>
                            </tr>
                            <tr>
                                <td  class="header">
                                    SS
                                </td>
                                <td>

                                </td>
                            </tr>
                            <tr>
                                <td  class="header">
                                    GC
                                </td>
                                <td>

                                </td>
                            </tr>
                        </table>

                    </div>
                    <div class="sheer2_left_bottom_right_bottom_right">
                        <table border="0">
                            <tr>
                                <td  class="title" colspan="2">
                                    ENCUMBRANCE
                                </td>
                            </tr>
                            <tr>
                                <td  class="header">
                                    Weapons
                                </td>
                                <td>

                                </td>
                            </tr>
                            <tr>
                                <td  class="header">
                                    Armour
                                </td>
                                <td>

                                </td>
                            </tr>
                            <tr>
                                <td  class="header">
                                    Trappings
                                </td>
                                <td>

                                </td>
                            </tr>
                            <tr>
                                <td  class="header">
                                    Max Enc,
                                </td>
                                <td>

                                </td>
                            </tr>
                            <tr>
                                <td  class="header">
                                    Total
                                </td>
                                <td>

                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="sheer2_right">
        <div class="sheet2_ap">
            <input type="text" id="head" name="fname">
            <input type="text" id="left_arm" name="fname">
            <input type="text" id="right_arm" name="fname">
            <input type="text" id="body" name="fname">
            <input type="text" id="left_leg" name="fname">
            <input type="text" id="right_leg" name="fname">
            <input type="text" id="shield" name="fname">
        </div>
        <div class="sheet2_wounds">
            <table border="1">
                <tr>
                    <td class="title" colspan="3">
                        WOUNDS
                    </td>
                </tr>
                <tr>
                    <td class="header">
                        SB
                    </td>
                    <td>
                    </td>
                    <td rowspan="5">
                    </td>
                </tr>
                <tr>
                    <td class="header">
                        TB * 2
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td class="header">
                        WPB
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td class="header">
                        Hardy
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td class="header">
                        Wounds
                    </td>
                    <td>
                        <input type="text" id="Wounds" value="0">
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="character_sheet">
    <table class="weapons" border='0'>
        <tr class="title">
            <td colspan="6">
                WEAPONS
            </td>
        </tr>
        <tr class="header">
            <td>
                Name
            </td>
            <td>
                Group
            </td>
            <td>
                Enc
            </td>
            <td>
                Range/Reach
            </td>
            <td>
                Damage
            </td>
            <td>
                Qualities
            </td>
        </tr>
        <tr>
            <td>
                Name
            </td>
            <td>
                Group
            </td>
            <td>
                Enc
            </td>
            <td>
                Range/Reach
            </td>
            <td>
                Damage
            </td>
            <td>
                Qualities
            </td>
        </tr>
        <tr>
            <td>
                Name
            </td>
            <td>
                Group
            </td>
            <td>
                Enc
            </td>
            <td>
                Range/Reach
            </td>
            <td>
                Damage
            </td>
            <td>
                Qualities
            </td>
        </tr>        <tr>
            <td>
                Name
            </td>
            <td>
                Group
            </td>
            <td>
                Enc
            </td>
            <td>
                Range/Reach
            </td>
            <td>
                Damage
            </td>
            <td>
                Qualities
            </td>
        </tr>        <tr>
            <td>
                Name
            </td>
            <td>
                Group
            </td>
            <td>
                Enc
            </td>
            <td>
                Range/Reach
            </td>
            <td>
                Damage
            </td>
            <td>
                Qualities
            </td>
        </tr>        <tr>
            <td>
                Name
            </td>
            <td>
                Group
            </td>
            <td>
                Enc
            </td>
            <td>
                Range/Reach
            </td>
            <td>
                Damage
            </td>
            <td>
                Qualities
            </td>
        </tr>        <tr>
            <td>
                Name
            </td>
            <td>
                Group
            </td>
            <td>
                Enc
            </td>
            <td>
                Range/Reach
            </td>
            <td>
                Damage
            </td>
            <td>
                Qualities
            </td>
        </tr>        <tr>
            <td>
                Name
            </td>
            <td>
                Group
            </td>
            <td>
                Enc
            </td>
            <td>
                Range/Reach
            </td>
            <td>
                Damage
            </td>
            <td>
                Qualities
            </td>
        </tr>
    </table>
</div>

<div class="character_sheet">
    <table class="spells" border='0'>
        <tr class="title">
            <td colspan="6">
                SPELLS AND PRAYERS
            </td>
        </tr>
        <tr class="header">
            <td>
                Name
            </td>
            <td>
                CN
            </td>
            <td>
                Range
            </td>
            <td>
                Target
            </td>
            <td>
                Duration
            </td>
            <td>
                Effect
            </td>
        </tr>
        <tr>
            <td>
                Name
            </td>
            <td>
                CN
            </td>
            <td>
                Range
            </td>
            <td>
                Target
            </td>
            <td>
                Duration
            </td>
            <td>
                Effect
            </td>
        </tr>        <tr>
            <td>
                Name
            </td>
            <td>
                CN
            </td>
            <td>
                Range
            </td>
            <td>
                Target
            </td>
            <td>
                Duration
            </td>
            <td>
                Effect
            </td>
        </tr>        <tr>
            <td>
                Name
            </td>
            <td>
                CN
            </td>
            <td>
                Range
            </td>
            <td>
                Target
            </td>
            <td>
                Duration
            </td>
            <td>
                Effect
            </td>
        </tr>        <tr>
            <td>
                Name
            </td>
            <td>
                CN
            </td>
            <td>
                Range
            </td>
            <td>
                Target
            </td>
            <td>
                Duration
            </td>
            <td>
                Effect
            </td>
        </tr>        <tr>
            <td>
                Name
            </td>
            <td>
                CN
            </td>
            <td>
                Range
            </td>
            <td>
                Target
            </td>
            <td>
                Duration
            </td>
            <td>
                Effect
            </td>
        </tr>        <tr>
            <td>
                Name
            </td>
            <td>
                CN
            </td>
            <td>
                Range
            </td>
            <td>
                Target
            </td>
            <td>
                Duration
            </td>
            <td>
                Effect
            </td>
        </tr>        <tr>
            <td>
                Name
            </td>
            <td>
                CN
            </td>
            <td>
                Range
            </td>
            <td>
                Target
            </td>
            <td>
                Duration
            </td>
            <td>
                Effect
            </td>
        </tr>        <tr>
            <td>
                Name
            </td>
            <td>
                CN
            </td>
            <td>
                Range
            </td>
            <td>
                Target
            </td>
            <td>
                Duration
            </td>
            <td>
                Effect
            </td>
        </tr>        <tr>
            <td>
                Name
            </td>
            <td>
                CN
            </td>
            <td>
                Range
            </td>
            <td>
                Target
            </td>
            <td>
                Duration
            </td>
            <td>
                Effect
            </td>
        </tr>
    </table>
</div>

<div class="bottom"></div>

{% endblock %}