{% extends "index.html" %}
{% load static %}
{% block main %}


{% comment %} <form action="/wfrpg_gm/createCampaign" method="POST">
    {% with submit_value="Register" %}
    {% include "form.html" %}
    {% endwith %}
</form> {% endcomment %}

<div class="top"> </div>
<div class="character_sheet">

    <div class="head">
        <table border="0">
            <tr>
                <td class="head">
                    Name
                </td>
                <td colspan="3">
                    <input type="text" id="character_sheet_name" name="fname">
                </td>
                <td class="head">
                    Species
                </td>
                <td>
                    <input type="text" id="species" name="fname">
                </td>
                <td class="head">
                    Class
                </td>
                <td>
                    <input type="text" id="class" name="fname">
                </td>
            </tr>
            <tr>
                <td class="head">
                    Carrer
                </td>
                <td colspan="3">
                    <input type="text" id="carrer" name="fname">
                </td>
                <td class="head">
                    Carrer Level
                </td>
                <td colspan="3">
                    <input type="text" id="carrer_level" name="fname">
                </td>
            </tr>
            <tr>
                <td class="head">
                    Carrer Path
                </td>
                <td colspan="5">
                    <input type="text" id="carrer_path" name="fname">
                </td>
                <td class="head">
                    Status
                </td>
                <td>
                    <input type="text" id="status" name="fname">
                </td>
            </tr>
            <tr>
                <td class="head">
                    Age
                </td>
                <td>
                    <input type="text" id="age" name="fname">
                </td>
                <td class="head">
                    Height
                </td>
                <td>
                    <input type="text" id="height" name="fname">
                </td>
                <td class="head">
                    Hair
                </td>
                <td>
                    <input type="text" id="hair" name="fname">
                </td>
                <td class="head">
                    Eyes
                </td>
                <td>
                    <input type="text" id="eyes" name="fname">
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="character_sheet">
    <div class="characteristics">
        <table border="0">
            <tr>
                <td colspan="11" class="title">
                    CHARACTERISTICS
                </td>
            </tr>
            <tr>
                <td class="head">&nbsp;</td>
                <td class="head">WS</td>
                <td class="head">BA</td>
                <td class="head">S</td>
                <td class="head">T</td>
                <td class="head">I</td>
                <td class="head">Ag</td>
                <td class="head">Dex</td>
                <td class="head">Int</td>
                <td class="head">WP</td>
                <td class="head">Fel</td>
            </tr>
            <tr>
                <td class="head">Inital</td>
                <td><input type="text" id="characteristics_ws_initial" name="fname"></td>
                <td><input type="text" id="characteristics_bs_initial" name="fname"></td>
                <td><input type="text" id="characteristics_s_initial" name="fname"></td>
                <td><input type="text" id="characteristics_t_initial" name="fname"></td>
                <td><input type="text" id="characteristics_i_initial" name="fname"></td>
                <td><input type="text" id="characteristics_ag_initial" name="fname"></td>
                <td><input type="text" id="characteristics_dex_initial" name="fname"></td>
                <td><input type="text" id="characteristics_int_initial" name="fname"></td>
                <td><input type="text" id="characteristics_wp_initial" name="fname"></td>
                <td><input type="text" id="characteristics_fel_initial" name="fname"></td>
            </tr>
            <tr>
                <td class="head">Advaces</td>
                <td><input type="text" id="characteristics_ws_advances" name="fname"></td>
                <td><input type="text" id="characteristics_bs_advances" name="fname"></td>
                <td><input type="text" id="characteristics_s_advances" name="fname"></td>
                <td><input type="text" id="characteristics_t_advances" name="fname"></td>
                <td><input type="text" id="characteristics_i_advances" name="fname"></td>
                <td><input type="text" id="characteristics_ag_advances" name="fname"></td>
                <td><input type="text" id="characteristics_dex_advances" name="fname"></td>
                <td><input type="text" id="characteristics_int_advances" name="fname"></td>
                <td><input type="text" id="characteristics_wp_advances" name="fname"></td>
                <td><input type="text" id="characteristics_fel_advances" name="fname"></td>
            </tr>
            <tr>
                <td class="head">Current</td>
                <td><input type="text" id="characteristics_ws_current" name="fname"></td>
                <td><input type="text" id="characteristics_bs_current" name="fname"></td>
                <td><input type="text" id="characteristics_s_current" name="fname"></td>
                <td><input type="text" id="characteristics_t_current" name="fname"></td>
                <td><input type="text" id="characteristics_i_current" name="fname"></td>
                <td><input type="text" id="characteristics_ag_current" name="fname"></td>
                <td><input type="text" id="characteristics_dex_current" name="fname"></td>
                <td><input type="text" id="characteristics_int_current" name="fname"></td>
                <td><input type="text" id="characteristics_wp_current" name="fname"></td>
                <td><input type="text" id="characteristics_fel_current" name="fname"></td>
            </tr>
        </table>
    </div>

    <div class="right">
        <div class="fate_resistance_exp">
            <div class="fate">
                <table border="0">
                    <tr>
                        <td colspan="2" class="title">
                            FATE
                        </td>
                    </tr>
                    <tr>
                        <td class="head">Fate</td>
                        <td><input type="text" id="fate_fate" name="fname"></td>
                    </tr>
                    <tr>
                        <td class="head">Fortune</td>
                        <td><input type="text" id="fate_fortune" name="fname"></td>
                    </tr>
                </table>
            </div>
            <div class="resilience">
                <table>
                    <tr>
                        <td colspan="3" class="title">
                            RESILIENCE
                        </td>
                    </tr>
                    <tr>
                        <td class="head">
                            Resilience
                        </td>
                        <td class="head">
                            Resolve
                        </td>
                        <td class="head">
                            Motivation
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" id="resilience_resilience" name="fname">
                        </td>
                        <td>
                            <input type="text" id="resilience_resolve" name="fname">
                        </td>
                        <td>
                            <input type="text" id="resilience_motivation" name="fname">
                        </td>
                    </tr>
                </table>
            </div>
            <div class="experience">
                <table>
                    <tr>
                        <td colspan="3" class="title">
                            EXPERIENCE
                        </td>
                    </tr>
                    <tr>
                        <td class="head">
                            Current
                        </td>
                        <td class="head">
                            Spent
                        </td>
                        <td class="head">
                            Total
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" id="experience_current" name="fname">
                        </td>
                        <td>
                            <input type="text" id="experience_spent" name="fname">
                        </td>
                        <td>
                            <input type="text" id="experience_total" name="fname">
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="movement">
            <table border="0">
                <tr>
                    <td colspan="6" class="title">
                        MOVEMENT
                    </td>
                </tr>
                <tr>
                    <td class="head">
                        Movement
                    </td>
                    <td>
                        <input type="text" id="movement_movement" name="fname">
                    </td>
                    <td class="head">
                        Walk
                    </td>
                    <td>
                        <input type="text" id="movement_walk" name="fname">
                    </td>
                    <td class="head">
                        Run
                    </td>
                    <td>
                        <input type="text" id="movement_run" name="fname">
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="character_sheet">
    <div class="basic_skills">
        <table>
            <tr>
                <th colspan="5" class="block_name">
                    BASIC SKILL
                </th>
            </tr>
            <tr class="block_header">
                <th>
                    Name
                </th>
                <th colspan=2>
                    Characteristic
                </th>
                <th>
                    Adv
                </th>
                <th>
                    Skill
                </th>
            </tr>
        {% for basic_skill in basic_skills %}
            <tr>
                <td class="left">
                {{ basic_skill.name }}
                </td>
                <td class="characteristics">
                {{ basic_skill.characteristics }}
                </td>
                <td class="edit">
                    <input type="text" id="basic_skills_characteristics_{{ basic_skill.id }}" name="fname">
                </td>
                <td class="edit">
                    <input type="text" id="basic_skills_adv__{{ basic_skill.id }}" name="fname">
                </td>
                <td>
                    C
                </td>
            </tr>
        {% endfor %}
        </table>
    </div>

    <div class="talents">
        <table>
            <tr>
                <th colspan="3" class="block_name">
                    TALENTS
                </th>
            </tr>
            <tr class="block_header">
                <th>
                    Talent Name
                </th>
                <th>
                    Times Taken
                </th>
                <th>
                    Description
                </th>
            </tr>
        </table>
    </div>
    <div class="clear"></div>
</div>
<div class="character_sheet">
    <div class="ambitiosn">
        <table border="0">
            <tr>
                <td class="title" colspan="2">
                    AMBITIOSN
                </td>
            </tr>
            <tr>
                <td class="head">
                    Short-term
                </td>
                <td>

                </td>
            </tr>
            <tr>
                <td  class="head">
                    Long-term
                </td>
                <td>

                </td>
            </tr>
        </table>
    </div>
    <div class="party">
        <table border="0">
            <tr>
                <td class="title" colspan="2">
                    PARTY
                </td>
            </tr>
            <tr>
                <td class="head">
                    Party Name
                </td>
                <td>

                </td>
            </tr>
            <tr>
                <td class="head">
                    Short-term
                </td>
                <td>

                </td>
            </tr>
            <tr>
                <td class="head">
                    Long-term
                </td>
                <td>

                </td>
            </tr>
            <tr>
                <td class="head">
                    Members
                </td>
                <td>

                </td>
            </tr>
        </table>
    </div>
    <div class="clear"></div>
</div>

<div class="bottom"></div>

{% endblock %}