{% extends "index.html" %}
{% load static %}

{% block main %}
<h2>{{ camaing.name }}</h2>
Party: {{ camaing.party_name }} <br />
<ol>
<li>Ambitions Shortterm:
    <ol>
        {% for as in camaing.ambitions_shortterm.all %}
        <li>
            {{ as.description }}
            {% if as.achieved %}
                <img src="{% static "img/tick.png" %}" width="12">
            {% endif %}
         </li>
        {% endfor %}
    </ol>
</li>
<li>Ambitions Longterm:
    <ol>
        {% for al in camaing.ambitions_longterm.all %}
        <li>{{ al.description }}
            {% if al.achieved %}
                <img src="{% static "img/tick.png" %}" width="12">
            {% endif %}

        </li>
        {% endfor %}
    </ol>
</li>
</ol>
<h3>Players:</h3>


<form action="/wfrpg_gm/AddPlayer2Campaign" method="POST">
    {% csrf_token %}
    <input type="hidden" id="campaign_id" name="campaign_id" value="{{ camaing.id }}">
    {{ campaign_2_player_form.media }}
    {{ campaign_2_player_form }}
    <input type="submit" class="button" value="Add">
</form>

<ol>
    {% for players in players %}
    <li> {{ players }}  </li>
    {% endfor %}
</ol>
<h3>Characters:</h3>

{% if createNewCharacter == False %}
<a href="{% url 'addCharacter' CampaignId=camaing.id %}">Chreate Character</a>
{% endif %}

<ol>
    {% for character in characters %}
    <li> <a href="{% url "viewCharacter" pk=character.id %} "> {{ character.player }} - {{ character }} </a> </li>
    {% endfor %}
</ol>

{% endblock %}